html, body {
  background: $white-color;
  margin: 0;
  padding: 0;
}

main {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

* {
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}
