<section class="reservation">
  <h1>Make a Reservation</h1>
  <h2>{{ vm.vehicle.year }} {{ vm.vehicle.make }} {{ vm.vehicle.model }}</h2>

  <form name="reservationForm" ng-submit="vm.reserve()" ng-class="{ submitted: vm.submitted }">
    <ul>
      <li>
        <label>Name</label>
        <input type="text" name="userName" ng-model="vm.user.name" required />
        <div ng-class="{ error: reservationForm.userName.$error }" ng-messages="reservationForm.userName.$error" ng-if="reservationForm.userName.$dirty || vm.submitted">
          <div ng-message="required">Please enter your name.</div>
        </div>
      </li>
      <li>
        <label>Phone</label>
        <input type="text" name="userPhone" ng-model="vm.user.phone" required />
        <div ng-class="{ error: reservationForm.userPhone.$error }" ng-messages="reservationForm.userPhone.$error" ng-if="reservationForm.userPhone.$dirty || vm.submitted">
          <div ng-message="required">Please enter your phone number.</div>
        </div>
      </li>
      <li>
        <label>Email</label>
        <input type="text" name="userEmail" ng-model="vm.user.email" required />
        <div ng-class="{ error: reservationForm.userEmail.$error }" ng-messages="reservationForm.userEmail.$error" ng-if="reservationForm.userEmail.$dirty || vm.submitted">
          <div ng-message="required">Please enter your email address.</div>
        </div>
      </li>
      <li>
        <label>Address</label>
        <input type="text" ng-model="vm.user.address" />
      </li>
      <li>
        <label>Notes</label>
        <textarea ng-model="vm.user.notes"></textarea>
      </li>
      <li>
        <input type="submit" ng-click="vm.submitted = true" class="button-default" value="Confirm Reservation" />
      </li>
    </ul>
  </form>
</section>
