.button-default {
  background: $red-color;
  border: 0;
  color: $white-color;
  font-weight: bold;
  padding: 10px;
  width: 100%;

  &:disabled {
    background: $white-color;
    color: $gray-color;
  }
}
