.inventory {

  h1 {
    text-align: center;
  }

  table {
    border-collapse: collapse;
    margin-bottom: 10px;
    width: 100%;
  }

  th {
    background: $red-color;
    border-left: 1px solid $red-color;
    border-top: 1px solid $red-color;
    color: $white-color;
    padding: 4px;
    text-align: center;

    &:last-child {
      border-right: 1px solid $gray-color;
    }
  }

  tr {
    &.reserved {
      td {
        background: $gray-color;
      }
    }

    td {
      border-left: 1px solid $black-color;
      border-top: 1px solid $black-color;
      padding: 4px;
      text-align: center;

      &:last-child {
        border-right: 1px solid $black-color;
      }
    }

    &:last-child {
      td {
        border-bottom: 1px solid $black-color;
      }
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .vehicle {
    background: $white-color;
    border-bottom: 1px solid $black-color;
    margin: 0 auto 10px auto;
    padding: 10px 10px 20px 10px;
    width: 90%;
  }

  .vehicle-data {
    color: $black-color;

    span,
    strong {
      display: block;
      float: left;
      width: 50%;
    }

    .vehicle-title {
      width: 100%;
    }

    &.reserved {
      span,
      strong {
        color: $gray-color;
      }
    }
  }

  button {
    margin-top: 10px;
  }
}
