.reservation {
  text-align: center;

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  label {
    display: block;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }

  input[type=text],
  textarea {
    border: 1px solid $gray-color;
    font-size: 1em;
    line-height: 1em;
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
    padding: 4px 10px;
  }

  ul {
    list-style: none;
    margin: 0 auto;
    max-width: 400px;
    padding: 0;
    width: 90%;
  }

  [ng-messages] {
    background: rgba(231, 26, 41, .25);
    border: 1px solid $red-color;
    color: $red-color;
    display: block;
    margin-bottom: 10px;
    padding: 10px;
  }

  [ng-messages].ng-inactive {
    display: none;
  }

  .submitted .ng-invalid {
    border: 1px solid $red-color;
  }
}
