<ul class="vehicle-list">
  <li class="vehicle" ng-repeat="vehicle in data track by $index">
    <ul class="vehicle-data" ng-class="{ reserved: vehicle.reserved }">
      <li class="text-center"><strong class="vehicle-title">{{ vehicle.year }} {{ vehicle.make }} {{ vehicle.model }}</strong></li>
      <li ng-if="vehicle.color"><strong>Color</strong><span>{{ vehicle.color }}</span></li>
      <li ng-if="vehicle.engineHours"><strong>Engine Hours</strong><span>{{ vehicle.engineHours }}</span></li>
      <li ng-if="vehicle.type"><strong>Type</strong><span>{{ vehicle.type }}</span></li>
      <li ng-if="vehicle.mileage"><strong>Mileage</strong><span>{{ vehicle.mileage }}</span></li>
      <li ng-if="vehicle.doors"><strong>Doors</strong><span>{{ vehicle.doors }}</span></li>
      <li ng-if="vehicle.horsepower"><strong>Horsepower</strong><span>{{ vehicle.horsepower }}</span></li>
      <li ng-if="vehicle.price"><strong>Price</strong><span>{{ vehicle.price | currency }}</span></li>
      <li><button class="button-default" ng-disabled="vehicle.reserved" ng-click="reserve(vehicle.oid, vehicle.vehicleType)">Reserve</button></li>
    </ul>
  </li>
</ul>
