<table>
  <thead>
    <th ng-if="columns.year">Year</th>
    <th ng-if="columns.make">Make</th>
    <th ng-if="columns.model">Model</th>
    <th ng-if="columns.color">Color</th>
    <th ng-if="columns.engineHours">Engine Hrs</th>
    <th ng-if="columns.type">Type</th>
    <th ng-if="columns.mileage">Mileage</th>
    <th ng-if="columns.doors">Doors</th>
    <th ng-if="columns.horsepower">Horsepower</th>
    <th ng-if="columns.price">Price</th>
    <th></th>
  </thead>
  <tbody>
    <tr ng-repeat="vehicle in data track by $index" ng-class="{reserved: vehicle.reserved}">
      <td ng-if="columns.year">{{ vehicle.year }}</td>
      <td ng-if="columns.make">{{ vehicle.make }}</td>
      <td ng-if="columns.model">{{ vehicle.model }}</td>
      <td ng-if="columns.color">{{ vehicle.color }}</td>
      <td ng-if="columns.engineHours">{{ vehicle.engineHours }}</td>
      <td ng-if="columns.type">{{ vehicle.type }}</td>
      <td ng-if="columns.mileage">{{ vehicle.mileage }}</td>
      <td ng-if="columns.doors">{{ vehicle.doors }}</td>
      <td ng-if="columns.horsepower">{{ vehicle.horsepower }}</td>
      <td ng-if="columns.price">{{ vehicle.price | currency }}</td>
      <td><button ng-disabled="vehicle.reserved" ng-click="reserve(vehicle.oid, vehicle.vehicleType)">Reserve</button></td>
    </tr>
  </tbody>
</table>
