<section class="inventory">
  <h1>Inventory</h1>
  <article class="boats">
    <h2>Boats</h2>
    <inventory-table ng-if="vm.desktop" data="vm.boats" on-reserve="vm.reserve(oid, type)"></inventory-table>
    <inventory-list ng-if="!vm.desktop" data="vm.boats" on-reserve="vm.reserve(oid, type)"></inventory-list>
  </article>

  <article class="cars">
    <h2>Cars</h2>
    <inventory-table ng-if="vm.desktop" data="vm.cars" on-reserve="vm.reserve(oid, type)"></inventory-table>
    <inventory-list ng-if="!vm.desktop" data="vm.cars" on-reserve="vm.reserve(oid, type)"></inventory-list>
  </article>

  <article class="trucks">
    <h2>Trucks</h2>
    <inventory-table ng-if="vm.desktop" data="vm.trucks" on-reserve="vm.reserve(oid, type)"></inventory-table>
    <inventory-list ng-if="!vm.desktop" data="vm.trucks" on-reserve="vm.reserve(oid, type)"></inventory-list>
  </article>
</section>
